  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
  }
  .heading_div
  {
    font-size: 20px;
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float: none;
  }
  .heading_div2
  {
    font-size: 18px ;
    color: red;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
    background-color: lightgreen;
  }

  .result_para_tag span
  {
    white-space: pre-line;
  }

  #footer
  {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size:large;
  }

  canvas
  {
    border: 10px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 140px;
  }
 